.change-page {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.change-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.change-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.change-box button {
  width: 100%;
  padding: 12px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.change-box button:hover {
  background: #000;
}

.cancel-btn {
  margin-top: 10px;
  background: #9ca3af !important;
}
/* Responsive (mobile) */
@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr; /* One below another */
  }
}