.category-card {
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(5, 7, 6, 0.15);
  transition: transform 0.3s ease;
  background: #e4ecee;
}

.category-card:hover {
  transform: scale(1.05);
}

/* Image */
.category-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

/* Text BELOW image */
.category-text {
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #222;
}
/* Responsive (mobile) */
@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr; /* One below another */
    gap: 20px;
  }
}